<br>
<br>
<div class="row">
<div class="card col m6 offset-m3 s12">
<h3>Forgot your password?</h3>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <button class="btn waves-effect waves-light" type="submit" name="action">Send instructions
            <i class="material-icons right">send</i>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
<br>
</div>
</div>