<%= form_for(@codechef_id) do |f| %>
  <% if @codechef_id.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@codechef_id.errors.count, "error") %> prohibited this codechef_id from being saved:</h2>

      <ul>
      <% @codechef_id.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  
  <div class="actions">
    <button class="btn waves-effect waves-light" type="submit" name="action">Start Stalking!
            <i class="material-icons right">send</i>
  </div>
<% end %>
